<!DOCTYPE html>
<html>
  <head>
    <title>Smart Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      @keyframes fade-in-down {
        from {
          opacity: 0;
          transform: translateY(-1rem);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .animate-fade-in-down {
        animation: fade-in-down 0.3s ease-out;
      }
    </style>
  </head>

  <body>
    <div id="flash">
      <%= render "shared/flash", message: flash[:notice], type: "success" if flash[:notice] %>
      <%= render "shared/flash", message: flash[:error], type: "error" if flash[:error] %>
    </div>
    
    <%= yield %>
  </body>
</html>